/* ====================================================================
Project:  Portfolio Filter Gallery
Author:  Lone Mortensen
Description:  The Portfolio Filter Gallery displays select web projects. The 
portfolio is filterable so users can select the type of projects 
they want to see by clicking on buttons representing coding languages. The 
filter will show only the projects built with the language selected by the user. 
Built with: JavaScript, HTML5, CSS3, and Flexbox.

===== *** =====

==================================================================== */

/* -------------------- Global Styles -------------------- */

/* Fonts:
Headings: 'Alata', sans-serif;
Subheadings: 'Alata', sans-serif;
Paragraph text, regular 400: 'Nunito Sans', sans-serif;
Paragraph text, bold 700: 'Nunito Sans', sans-serif;
*/

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #ffffff;
  color: #313131;
}

h1 {
  font-family: 'Alata', sans-serif;
  font-size: 2.85rem;
}

h2 {
  font-family: 'Alata', sans-serif;
  font-size: 2rem;
}

h4 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.75rem;
  font-weight: 700;
  text-align: center;
}

figure {
  margin: 0;
}

/* Layout - Structural Styles */
 
#projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 80%;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  width: 100%;
}

p {
  margin: 0;
}

/* Layout - Special Styles */

.project-line {
  width: 100%;
  height: 1px;
  margin: 20px 0px 20px 0px;
  background: #313131;
  border: none;
}

/* -------------------- Base Header-Footer Styles -------------------- */

/* HEADER */
/* FOOTER */

/* -------------------- Mobile Styles - Homepage -------------------- */

/* PROJECTS - MOBILE */

#projects {
  padding: 60px 0px 60px 0px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;  
  flex-flow: row wrap;
  width: 100%;
  margin: 30px 0px;
}

.main-title {
  text-align: center;
}

.title-line {
  width: 100%;
  height: 1px;
  margin: 20px 170px 20px 170px;
  background: #313131;
  border: none;
}

.subtitle {
  text-align: center;
}

.buttons-position {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  margin: 10px 0px 40px 0px;
}

.buttons-align {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
  width: 80%;
  padding: 20px;
}

/* START: Language filter buttons styling applied 
to the button element in JavaScript: */
.buttons-style {
  margin: 10px 5px 0px 5px;
  padding: 5px 10px;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #313131;
  background-color: #ffffff;
  border: 0.01rem solid #313131; 
}

.highlight-button {
  background-color: #313131;
  color: #ffffff;
}
/* END */

/* START: Project styling applied in JavaScript: */
.hide-projects {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
/* END */

.project-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: flex-start; 
  flex-flow: row wrap;
  width: 100%;
}

.project-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.project-item figure {
  width: 100%;
  margin: 20px 0px 20px 0px;
  box-shadow: rgb(0 0 0 / 25%) 0px 4px 14px;
}

.project-color-green {
  padding: 60px 0px;
  background-color: #E8F0E4;
}

.project-color-purple {
  padding: 60px 0px;
  background-color: #351D77;
}

.project-color-grey {
  padding: 60px 0px;
  background-color: #453E4F;
}

.project-font-purple {
  color: #351D77;
}

.project-font-lilac {
  color: #EEE4F0;
}

.project-font-green {
  color: #E8F0E4;
}

.project-title {
  text-align: center;
  font-size: 5rem;
}

.project-header {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
}

.project-header h4 {
  margin: 0px 0px 20px 0px; 
}

.project-description {
  width: 100%;
}

.project-description span {
  font-weight: 700;
}

.project-skills {
  width: 100%;
  margin: 20px 0px 60px 0px; 
}

.project-skills span {
  font-weight: 700;
}

/* -------------------------- Tablet Styles ------------------------- */

@media only screen and (min-width: 768px) {
  
  /* Global and Structural Styles - Tablet */

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  h4 {
    font-size: 1.85rem;
  }

  /* ------------- Tablet - Base Header-Footer Styles ------------- *
  
  /* HEADER - Tablet */
  /* FOOTER - Tablet */

  /* ---------------- Tablet Styles - Homepage ---------------- */
  
  /* PROJECTS - Tablet */

  .title-line {
    margin: 20px 250px 20px 250px;
  }

  .title {
    margin: 50px 0px;
  }

  .buttons-position {
    margin: 10px 0px 60px 0px;
  }

  .project-item {
    width: 45%;
  }
}

/* -------------------------- Desktop Styles ------------------------- */

@media only screen and (min-width: 1200px) {

  /* Global and Structural Styles - Desktop */

  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 3.25rem;
  }

  h4 {
    font-size: 2.25rem;
  }

  /* ------------- Desktop - Base Header-Footer Styles ------------- *
  
  /* HEADER - Tablet */
  /* FOOTER - Tablet */

  /* ------------------ Desktop Styles - Homepage ------------------ */
  
  /* PROJECTS - DESKTOP */

  #projects {
    padding: 80px 0px 100px 0px;
  }
    
  .content-wrapper {
    max-width: 1200px;
  }

  .title {
    margin: 60px 0px;
  }

  .title-line {
    margin: 30px 385px 30px 385px;
  }
  
  .buttons-position {
    margin: 10px 0px 70px 0px;
  }

  .buttons-align {
    width: 50%;
  }

  /* START: Language filter buttons styling applied 
  to the button element in JavaScript: */
  .buttons-style {
    font-size: 1rem;
  }
  /* END */

  .project-item {
    width: 30%;
  }
    
  .project-item figure {
    margin: 30px 0px 30px 0px;
  }
}    